<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First App</title>
</head>
<style>
</style>
<body>
    <div style="text-align:center; margin-top:50px;">
        <div style="margin-bottom:10px;">
            <label style="margin-right: 6px;">Username</label>
            <input id="name"/>
        </div>
        <div style="margin-bottom:10px;">
            <label style="margin-right: 10px;">Password</label>
            <input id="password"/>
        </div>
        <button>Login</button>
    </div>
</body>
</html>