<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <p>Pick Flavors</p>
    <form action="/postFlavors" method="post">
        <input type="checkbox" name="flavor" value="Vanilla" />Vanilla
        <input type="checkbox" name="flavor" value="Chocolate" />Chocolate
        <input type="checkbox" name="flavor" value="Pistachio" />Pistachio
        <input type="checkbox" name="flavor" value="Mango" />Mango
        <button type="submit">Submit</button>
    </form>
</body>
</html>