<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam</title>
</head>
<body>
    <form action="/sendData" method="post">
        <div>
            <label>Question1</label>
            <input name="question1" />
        </div>
        <div>
            <label>Question2</label>
            <input name="question2" />
        </div>
        <div>
            <label>Question3</label>
            <input name="question3" />
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>