<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for (let key in list) { %>
        <% if (Array.isArray(list[key])) { %>
            <div style="margin-bottom:10px;">
                <label style="margin-right:10px"><%= key %></label>
                <% for (let i of list[key]) { %>
                    <input type="checkbox" value="<%= i %>" checked /><%= i %>
                <%}%>
            </div>
        <%} else { %>
            <div style="margin-bottom:10px;">
                <label style="margin-right:10px"><%= key %></label>
                <input value="<%= list[key] %>" />
            </div>
        <%}%>
    <%}%>
</body>
</html>